body{
    background-color: #670faf;
}
button{
    margin-top: 50px;
    width: 30%;
 }
 .container{
     width:60%;
 }

@media(max-width:680px){
    button{
        margin-top: 50px;
        width: 30%;
     }
     .container{
         width:90%;
     }
}
@media(max-width:290px){
    button{
        margin-top: 50px;
        width: 100%;
     }
     .container{
         width:100%;
     }
     img{
        width: 250px;

     }
}